@model LiveTiles.Controllers.TwitterTile

<div>

    <a class="twitter-timeline" href="https://twitter.com/pwptwi"
       data-screen-name="@Model.UserIds[0]"
       height="300" 
       data-widget-id="568502516812627968"
       data-chrome="noheader nofooter noscrollbar">
        @Model.UserIds[0] Tweets
    </a>

    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }

        (document, "script", "twitter-wjs");

    </script>

</div>